*{
    font-family: 'Open Sans', sans-serif;
}

#mainTitle{
    color: #1a3396;
}

.subTitle{
    color:#264deb;
}

.menuButton{
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1a3396;
    transition: 1s all;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.menu{
    padding-top:2rem;
    text-align:center;
}

.menuButton:hover{
    background-color: #264deb;
}

.formButton{
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1a3396;
    transition: 1s all;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.formButton:hover{
    background-color: #264deb;
    cursor:pointer;
}

.playButton{
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1a3396;
    transition: 1s all;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    width:12rem;
}

.playButton:hover{
    background-color: #10e348;
    cursor:pointer;
    box-shadow: 0px 10px 13px -7px #000000;
}


#backButton{
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1a3396;
    transition: 1s all;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    position:fixed;
    z-index:99999;
    top:10px;
    left:10px;
}

#backButton:hover{
    background-color: #264deb;
}

.deleteButton{
    text-decoration: none;
    color: #8a1703;
    transition: 1s all;
    border:none;
    background-color:rgba(0,0,0,0);
}

.deleteButton:hover{
    color:#de2707;
    cursor:pointer;
}

.createButton{
    text-decoration: none;
    color: #1a3396;
    transition: 1s all;
    border:none;
    background-color:rgba(0,0,0,0);
}

.createButton:hover{
    color:#264deb;
    cursor:pointer;
}

.dataTable{
    display:flex;
    flex-direction: column;
}

.headerRow{
    flex:100%;
    margin-top:0.5rem;
    margin-left:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    border-bottom:1px solid rgba(0,0,0,0.5);
    height:1.5rem;
    display:flex;
    background-color: white;
}

.dataRow{
    flex:100%;
    margin-top:0.5rem;
    margin-left:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:5px;
    height:1.5rem;
    display:flex;
    background-color: white;
}

.dataRow:hover{
    background-color:#DDD;
}

.row{
    display:flex;
    width:100%;
}

.col50{
    flex:50%;
}

.col33{
    flex:33%;
}

.dataForm{

}

.dataItem{
    overflow:hidden;
}

.dataInput{
    padding:0.5rem;
}

.formLabel{
    margin:0;
}

#gameCanvas{
    border:1px solid black;
}

.gameImage{
    display:none;
}

.sortHeader{
    background:none;
    border:none;
    font-size:1rem;
}

.sortHeader:hover{
    cursor:pointer;
}